<!--
title: bottom
description: 
published: true
date: 2022-03-01T18:43:37.050Z
tags: 
editor: ckeditor
dateCreated: 2022-03-01T18:43:35.078Z
-->

{% if page.show_profile %}

<div class="card-deck">
    <div class="card bg-light col-xs-6 mb-4">
        <div class="card-body text-center">
            {% include components/profile-avatar.html %}
        </div>
    </div>
    <div class="card bg-light col-xs-6 mb-4">
        <div class="card-body">
            {% include components/profile-body.html %}
        </div>
    </div>
</div>

{% endif %}
